p{font-size: 30px;
color: rgb(51,151,217);
font-weight: bolder;
	margin-left: 30px;}
body{background-image: url(../images/timg.jpg);background-size: cover;}
h3{font-size: 45px;font-weight: bolder;color: #000099;}
a{margin-top: 100px;
font-size: 20px;
font-weight: bolder;}
 a:link{color:#00f;}
 a:visited{color:#fec;}
 a:hover{color: #ef3;}
 a:active{color: #f33}

