#tubiao{width: 180px;
    height: 40px;}
body{background: url(../images/timg.jpg);
     background-size: cover;}
h4{font-family: 楷体;}
#biao{border-style:solid;
      width: 80%;
      height: 260px;
      border:solid 1px;
      border-color: orange;
      border-radius: 10px;}
 #lianjie{display: block;
 	text-align: center;
   list-style: none;}
 a:link{color:#00f;}
 a:visited{color:#fee;}
 a:hover{color: #efe;}
 a:active{color: #ffe}
 