div{    width: 100%;
		height: 50px;
		background:rgb(178,224,223);
	    font-family: "楷体","楷体_GB2312";}
body{background:url(../images/timg.jpg);}
#top h1{text-align: center;}
.duan{text-indent: 2em;
       font-weight: bolder;}
a{}
#ditu{width:800px;
	  height: 500px;
	  border-color: #eef;
	  border-style: solid;
	  border-radius: 30px;
 }
 .lianjie img{width: 350px;
 			  height: 250px;
 			  border-radius: 10px;}
 #footer p{text-align: center;}